@import "tailwindcss";

:root {
  --primary: #16a34a;       /* main green */
  --primary-dark: #15803d;  /* hover */
  --bg: #f0fdf4;            /* light background */
  --card: #ffffff;
  --text: #111827;
}